/GPS/GPS_L1CA/L1_1ch_4M_openSky.dat
/GPS/GPS_L1CA/acqResults.mat
/GPS/GPS_L1CA/navResults.mat
/GPS/GPS_L1CA/trkResults.mat
/GPS_L1CA - Shortcut.lnk
/L1_1ch_4M_deepIndoor.zip
/L1_1ch_4M_lightIndoor.zip
/L1_1ch_4M_openSky.zip
/init.m - Shortcut.lnk
/initSettings.m - Shortcut.lnk
